<footer class="footer footer-unloaded">
    <script>
        (function(){
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
        </script>
    <!-- social  -->
    <% if(theme.social) { %>
    <div class="social">
        <%- partial('base-social') %>
    </div>
    <% } %>
    <!-- powered by Hexo  -->

    
    <% if(is_home()) { %>
    <div class="copyright">
        <span id="hexo-power">Powered by <a href="https://hexo.io/" target="_blank">Hexo</a></span><span class="iconfont-archer power">&#xe635;</span><span id="theme-info">theme <a href="https://github.com/fi3ework/hexo-theme-archer" target="_blank">Archer</a></span><br>
        <span><iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="//music.163.com/outchain/player?type=2&id=590464&auto=1&height=66"></iframe></span>
    </div>
    <% } else if(page.layout === "about") { %>
        <div class="copyright">
            <span id="hexo-power">Powered by <a href="https://hexo.io/" target="_blank">Hexo</a></span><span class="iconfont-archer power">&#xe635;</span><span id="theme-info">theme <a href="https://github.com/fi3ework/hexo-theme-archer" target="_blank">Archer</a></span>
        </div>
    <% } else { %>
    <div class="copyright">
        <span id="hexo-power">Powered by <a href="https://hexo.io/" target="_blank">Hexo</a></span><span class="iconfont-archer power">&#xe635;</span><span id="theme-info">theme <a href="https://github.com/fi3ework/hexo-theme-archer" target="_blank">Archer</a></span><br>
        <span><iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=260 height=52 src="//music.163.com/outchain/player?type=2&id=507585639&auto=0&height=32"></iframe></span>
    </div>
    <% } %>
    
    
    <!-- 不蒜子  -->
    <% if (theme.busuanzi) { %>
    <div class="busuanzi-container">
    <% var sloganPieces = theme.busuanzi_slug.split('${count}') %>
    <% if(theme.busuanzi_pv_or_uv === 'pv') { %> 
    <span id="busuanzi_container_site_pv"><%- sloganPieces[0] %><span id="busuanzi_value_site_pv"></span><%- sloganPieces[1] %></span>
    <% } else if (theme.busuanzi_pv_or_uv === 'uv') { %>
    <span id="busuanzi_container_site_uv"><%- sloganPieces[0] %><span id="busuanzi_value_site_uv"></span><%- sloganPieces[1] %></span>
    <% } %>
    </div>
    <% } %>
</footer>